@import './base.css';
@import 'tailwindcss';

body {
  overflow-x: hidden;
}

#app {
  display: flex;
  place-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-weight: normal;
  background: var(--color-bg); /* Обновлено */
}

.container {
  margin-left: auto;
  margin-right: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
